@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
    color: var(--text-light);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   background-color: var(--bs-body-bg);  
   --bs-body-bg: #212529;
    font-family: "Platypi", serif;
    margin: 0;
    padding: 0;
    color: var(--text-light);
    --purple-black: #3d8ab4;
    --purple-magenta: #a70094;
    --text-light: #fff;
}

header {
    text-align: center;
}
.content-informacion h1 {
    color: var(--text-light);
}

h4 {
    color: #0056b3;
    font-size: 25px;
}



.content-informacion {
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(249,38,225,.2);
    border-radius: 20px;
    padding: 20px;
    margin: 14px;
    color: #0056b3;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.card-list {
   
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    margin: 22px auto;
    max-width: 800px;
}

.card-item {
    background-image: linear-gradient(90deg, #000, #fff);
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    width: 340px;
    text-decoration: none;
    color: var(--text-light);
    transition: all 0.3s ease;
}
.card-item span {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 12px;
    font-weight: bold;
}
.card-item:hover {
    transform: translateY(-12px);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.733);
}

.card-item img {
    margin-bottom: 15px;
    max-width: 100%;
    color: var(--text-light);
}


.card-item h3 {
    color: var(--text-light);
    font-size: 18px;
    margin-bottom: 10px;
}

.card-item .arrow {
    margin-top: 10px;
    font-size: 18px;
    color: var(--text-light);

}
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.carousel-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 200px;
    /* box-shadow: 0 4px 12px var(--purple-magenta) ;  */
    margin: auto;
    margin-top: 7rem;
    
}
.carousel-inner {
    margin: 0 auto;
    height: 400px; /* Adjust height as needed */
}
.profile-img {
    margin-bottom: 15px;
}
.social-icons a {
    text-decoration: none;
    list-style: none;
    display: block;
    margin: 0 5px;
}
/*  */

